.subtitle {
    display: flex;
    align-items: center;
        span {
            color: white;
            font-size: 1.125rem;
            font-family: Archivo;
            font-weight: 700;
            margin-left: 0.9375rem;
        }
}